<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <br />
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <canvas
            class="my-4 w-100"
            id="myChart"
            width="900"
            height="200"
          ></canvas>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Store</th>
                  <th>Date</th>
                  <th>Rating</th>
                  <th>Greeted</th>
                  <th>Clean</th>
                </tr>
              </thead>
              <tbody>
                <% items.forEach((item,index)=>{%>
                <tr>
                  <td><%= item.store %></td>
                  <td><%= item.date %></td>
                  <td><%= item.rating %></td>
                  <td><%= item.clean %></td>
                  <td><%= item.greeted %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      const chartLabels = "<%- chartLabels %>".split(",");
      const chartData = "<%- chartData %>".split(",");

      var myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: chartLabels,
          datasets: [
            {
              data: chartData,
              lineTension: 0,
              backgroundColor: "transparent",
              borderColor: "#007bff",
              borderWidth: 4,
              pointBackgroundColor: "#007bff",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  max: Math.max(...chartData) * 1.5,
                },
              },
            ],
          },
          legend: {
            display: false,
          },
        },
      });
    </script>
  </body>
</html>
